.section.catalog {
  .catalog_wrapper {
    margin-bottom: 70px;
  }
}

/*product-category*/
.product_category_section {
  select.orderby {
    padding: 5px;
    border-radius: 20px;
    background: $grey20;
    border-right: 4px solid $grey20;
    box-shadow: 0.5px 0px;
    option[value=date] {
      display: none;
    }
  }
  .popular_products_title {
    font-size: 17px;
  }
  .icon_hart {
    height: 28px;
    & i:before {
      font-size: 25px;
      font-weight: 100;
    }
  }
  .popular_products_description {
    p {
      margin: 0;
      font-size: 13px;
    }
  }
  .popular_products_content .price_block {
    padding-top: 10px;
    .price_text, .price_number {
      padding-left: 5px;
    }
  }
//  кнопки фильтров
  #wpfMinPrice.wpfPriceRangeField {
    width: auto !important;}
  .wpfFilterButtons {
    .wpfFilterButton.wpfButton, .wpfClearButton.wpfButton {
      font-size: $base_small;
      font-weight: 400;
      font-family: $font-base;
      border: 1px solid $brand-red;
      background: transparent;
      border-radius: 50px;
      color: $brand-red;
      text-transform: capitalize;
      box-shadow: none;
      min-height: 45px;
      transition: 0.1s all linear;
      &:hover {
        border-color: $brand-red-h;
        background: $brand-red-h;
        color: $white;
      }
      @include _media-lg() {
    display: block;
    width: auto;
    margin-bottom: 12px;
    padding: 12px;
  }
    }
  }
  /*Выравнивание картинок*/
  .popular_products_image img {
    height: 100%;
  }
  /* Дизайн сравнения */
  .icon_characteristics {
    position: relative;
    & > .woocommerce.product.compare-button {
      position: absolute;opacity: 0;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
    /*svg {
      margin-left: 8px;
    }*/
  }
}


/*product_category_section*/
.product_category_section {
  margin-bottom: 50px;
}

/*Пагинация*/
.woocommerce-pagination .page-numbers {
  text-align: center;
  padding-bottom: 10px;
  li {
    display: inline-block;
    padding: 7px;
    span,a {padding: 0;}
    span:not(.dots) {color: $brand-red;font-weight: 500;}
  }
}