
.header_menu_top_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  li {
    padding-left: 15px;
    padding-right: 15px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
}

.header_menu_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  li {
    padding-left: 15px;
    padding-right: 15px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
    position: relative;
    font-size: 18px;
    @include _media-md() {
      padding-left: 5px;
      padding-right: 5px;
      line-height: 2;
    }
    a {
      display: inline-block;
      line-height: 1.3;
      font-weight: 400;
      font-style: normal;
      color: $black;
      font-family: $font-base;
      @include _media-lg() {
        font-size: $base-md;
      }
    }
    span {
      display: none;
    }

    .items {
      position: relative;
      &:hover, &:focus {
        a {
          color: $brand-minor;
        }
      }
    }
    &.current-menu-parent {
     /* a {
        color: $brand-minor;
      }*/
      &.current-menu-item {
        a {
          /*color: $brand-minor;*/
          &:hover {
            color: $brand-red-h;
          }
        }
      }

    }
    &.menu-item-has-children {
      position: relative;
      &:before {
        content: '\f078';
        position: absolute;
        font-family: "Font Awesome 5 Pro";
        font-weight: 300;
        right: 15px;
        color: $black;
        transform: rotate(0deg);
        transition: 0.3s;
      }
      &:hover {
        &:before {
          color: $brand-major;
          transform: rotate(-90deg);
        }
      }
      > .items {
        padding-right: 30px;
      }
    }
  }
  ul {
    position: absolute;
    background: $grey20;
    padding: 15px;
    border-radius: 0 15px 15px 15px;
    li {
      width: 100%;
      padding: 0 0 0 0;
      font-size: 18px;
      a {

        line-height: 1.3;
        font-weight: 400;
        color: $black;
      }

      span {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        color: $black;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        i:before {
          content: '\f053';
          font-family: "Font Awesome 5 Pro";
          font-weight: 300;
          display: inline-block;
          font-style: normal;
          font-variant: normal;
        }
      }

      .items {
        &:hover, &:focus {
          a {
            color: $brand-minor;
          }
          span {
            color: $brand-minor;
          }
          span {
            i:before {
              content: '\f078';
              font-family: "Font Awesome 5 Pro";
              font-weight: 300;
              display: inline-block;
              font-style: normal;
              font-variant: normal;
            }
          }
        }
      }
      &.current-menu-item, &.current-menu-parent {
        a {
          color: $brand-minor;
        }
        span {
          color: $brand-minor;
        }
        ul {
          li {
            a {

              line-height: 1.3;
              color: $black;
            }
            &.current-menu-item {
              a {
                color: $brand-minor;
              }
            }
          }
        }
      }
      &.menu-item-has-children {
        position: relative;
        &:before {
          content: '\f078';
          position: absolute;
          font-family: "Font Awesome 5 Pro";
          font-weight: 300;
          right: 5px;
          color: $black;
          transform: rotate(0deg);
          transition: 0.3s;
        }
        &:hover {
          &:before {
            color: $brand-major;
            transform: rotate(-90deg);
          }
        }
        > .items {
          padding-right: 30px;
        }
      }
    }
  }
  ul ul {
    position: absolute;
    left: 100%;
    top: 0;
    background: $grey30;
    li {

      font-size: 18px;
      a {

        line-height: 1.3;
        color: $black;
      }
      .items {
        &:hover, &:focus {
          a {
            color: $brand-minor;
          }
        }
      }
      &.current-menu-item {
        a {
          color: $brand-minor;
        }
      }
    }
  }
}

.header_menu_links li ul {
  display: none;
  z-index: 1;
}

.header_menu_links li ul li ul {
  display: none;
  z-index: 2;
}

.header_menu_links li:hover ul {
  display: block;
}

.header_menu_links li:hover ul li ul {
  display: none;
}
popular_products_title
.header_menu_links li ul li:hover ul {
  display: block;
}

@include _media-sm() {
  .header_menu_links {
    display: none;
  }
  .mob_menu {
    display: block;
  }
}

.hamburger {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
  background-color: $black;
}

.hamburger {
  background: transparent;
}

.hamburger:hover, .hamburger:focus, .hamburger:active {
  background: transparent;
}

.hamburger:hover .hamburger-inner, .hamburger:hover .hamburger-inner:after, .hamburger:hover .hamburger-inner:before,
.hamburger:focus .hamburger-inner, .hamburger:focus .hamburger-inner:after, .hamburger:focus .hamburger-inner:before {
  background-color: $black;
}

.bg {
  &.active {
    z-index: 1000;
    width: 100%;
    background-color: $black;
    opacity: 0.8;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    left: 0;
    right: 0;
    position: fixed;
    height: 100%;
    top: 0;
    bottom: 0;
  }
}
 
