//global
.services_page {
   .front_page_title {
     @include _media-xs() {
       padding: 10px 0;
     }
   }
}
//PRODUCT TABS
#services_tabs {
  margin: 10px 0;
}
.services_tabs-nav {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $brand-major;
  -webkit-border-radius: 25px 25px 0 0 ;
  -moz-border-radius: 25px 25px 0 0 ;
  border-radius: 25px 25px 0 0 ;
  @include _media-sm() {
    height: 80px;
    flex-wrap: wrap;
  }
  @include _media-xs() {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  }
  @include _media-xxxs() {
    height: 90px;
  }
}
.services_tabs-nav li {
  display: table-cell;
  float: none;
  margin: 0;
  padding: 0;
}
.services_tabs-nav a {
  display: block;
  padding: 0 20px;
  background: transparent;
  color: $grey20;
  font-size: $base_small;
  text-decoration: none;
  text-align: center;
  border: none;
  height: 60px;
  line-height: 60px;
  &:hover, &:focus {
    color: $brand-red;
  }
  @include _media-sm() {
    height: 40px;
    line-height: 40px;
  }
  @include _media-xxxs() {
    height: 30px;
    line-height: 30px;
  }
}
.services_tabs-nav li:first-child a {
  
}
.services_tabs-nav li:last-child a {

}
.services_tabs-nav a.active {
  border-bottom: 3px solid white;
  color: white;
  padding: 0 20px;
}
.services_tabs-items {
    border-radius: 0 0 25px 25px;
  background: transparent;
  height: 550px;
  width: 100%;
  position: relative;
  font-weight: 500;
  @include _media-xl() {
    height: 460px;
  }
  @include _media-md() {
    height: 550px;
  }
  @include _media-sm() {
    height: 530px;
  }
  @include _media-xs() {
    height: 570px;
  }
  @include _media-xs() {
    height: 600px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  }
}
.services_tabs-item {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 25px 25px;
}
.services_container {
  max-width: 80%;
}
//Services
//Замеры ТАБ 1
.measurements {
  .services_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include _media-xxs() {
      justify-content: space-around;

    }
  }
  .services_content {
    height: 220px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-shadow: 0 1px 2px #fff;
     @include _media-xl() {
    height: 200px;
  }
    @include _media-md() {
      height: auto;
      padding: 10px 0;
    }
    @include _media-sm() {
      height: auto;
      p {
        font-size: $base-xs;
        margin: 5px 0;
      }
    }
  }
  .services_callback {
  background-color: $white;
  border-radius: 25px;
  padding: 30px 5%;
  height: 220px;
    width: 100%;
     @include _media-xl() {
    height: 200px;
  }
    @include _media-md() {
      height: auto;
    }
    @include _media-sm() {
      height: auto;
      padding: 0 15px 10px 15px;
      p {
        margin-bottom: 0;
      }
    }
  }
  .services_callback_title {
    text-align: center;
    padding-bottom: 30px;
    b {
      display: inline-block;
    }
    @include _media-md() {
      padding-bottom: 10px;
      padding-top: 5px;
    }
  }
  .services_callback_form {
    input,button { display: inline-block;font-weight: 400;
      @include _media-md() {
        display: block;
    }
    }
    input {
      width: 240px;
      background-color: $white;
      margin: 0 20px;
      @include _media-lg() {
        width: 200px;
      }
      @include _media-md() {
        width: 150px;
        margin: 0 10px;
      }
      @include _media-md() {
        width: 100%;
        margin-left: 0;
        margin-bottom: 10px;

    }
    }
    .wpcf7-submit {
      margin: 0 0 -2px 30px;
      width: 164px;
      padding: 0;
      font-size: $base;
      line-height: $base*1.2;
      background-color: $brand-red ;
      @include _media-lg() {
        margin-bottom: 0;
        margin-left: 10px;
      }
      @include _media-md() {
        width: 100%;
        margin-left: 0;
        margin-bottom: 0px;

    }
    }
  }
}
//Доставка ТАБ 2
.delivery {
  .services_container {
    text-align: center;
  }
  .services_title {
    font-weight: 500;
    text-shadow: 0 1px 3px #fff;
  }
  .services_content {
    padding-bottom: 20px;
  }
  .services_callback {
    height: auto;
    background-color: $white;
    border-radius: 25px;
    padding: 30px 15px;
    @include _media-xs() {
      padding: 10px;
    }
    .row {
      height: 100%;
    }
  }
  .delivery_services {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    @include _media-sm() {
      padding-top: 20px;
      &:nth-child(1):after ,&:nth-child(2):after {
        height: 1px;
        width: 50%;
        margin-top: 20px;
        background-color: $brand-red;
        content: ' ';
      }
    }
    &:first-child {
      padding-top: 0px;
    }
    .vertical_line {
      position: absolute;
      right: 0;
      top: 20px;
      content: ' ';
      height: 90%;
      width: 2px;
      background-color: $black;
      @include _media-md() {
        top: 0px;
      }
      @include _media-sm() {
        display: none;
      }
    }
    &:not(:first-child) {
      @include _media-md() {
      .vertical_line {
        display: none;
      }
      }
      }
    &:last-child {
      @include _media-md() {
        padding-top: 20px;
        .delivery_services_content {
          height: auto;
        }
      }

    }
  }



  .delivery_services_content {
    @include _media-md() {
      p {
        margin: 0 auto;
      }
    }

  }
  .delivery_services_title {
    font-weight: 500;
    @include _media-sm() {
      padding-bottom: 10px;
    }
  }
  .delivery_services_content {
    font-size: $base_small_md;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
      font-weight: 500;
    }
    @include _media-md() {
      height: 125px;
    }
    @include _media-sm() {
      height: auto;
    }
  }
  .delivery_button {
    width: 170px;
    height: 42px;
    font-size: 16px;
    line-height: 42px;
    border-radius: 25px;
    background-color: red;
    color: white;
    display: none;
    &:hover, &:focus {
      opacity: 0.8;
    }
  }
}
//Монтаж ТАБ 3
.installation {
  .services_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include _media-xxs() {
      justify-content: space-around;

    }
  }
  .services_content {
    height: 220px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-shadow: 0 1px 2px #fff;
    a {
      color:$brand-red;
      &:hover, &:focus {
        color:$brand-minor;
      }
    }
    @include _media-xl() {
      height: 200px;
    }
    @include _media-md() {
      height: 180px;
      padding: 10px 0;
    }
    @include _media-sm() {
      height: auto;
      p {
        font-size: $base-xs;
        margin: 5px 0;
      }
    }
  }
  .services_callback {
    background-color: $white;
    border-radius: 25px;
    padding: 30px 5%;
    height: 220px;
    width: 100%;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    @include _media-xl() {
      height: 200px;
    }
    @include _media-md() {
      height: 280px;
    }
    @include _media-sm() {
      padding: 5px 15px;
      height: auto;
      padding: 0 15px 10px 15px;
      p {
        margin-bottom: 0;
      }
    }
  }
  .services_callback_title {
    text-align: center;
    padding-bottom: 30px;
    margin: 0 0 15px 0;
    height: 50px;
    b {
      display: inline-block;
    }
    @include _media-md() {
      padding-bottom: 10px;
    }
    @include _media-xs() {
      height: auto;
      margin: 0;
    }
  }
  .services_callback_form {
    input,button { display: inline-block;font-weight: 400;
      @include _media-md() {
        display: block;
      }
    }
    input {
      width: 240px;
      background-color: $white;
      margin: 0 20px;
      @include _media-lg() {
        width: 200px;
      }
      @include _media-md() {
        width: 150px;
        margin: 0 10px;
      }
      @include _media-md() {
        width: 100%;
        margin-left: 0;
        margin-bottom: 10px;

      }
    }
    .wpcf7-submit {
      color: $white;
      background: $brand-red;
      border-width: 0px;
      -webkit-border-radius: 50px; -moz-border-radius: 50px; border-radius: 50px;
      -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      -moz-box-shadow:    0px 4px 4px rgba(0, 0, 0, 0.25);
      box-shadow:         0px 4px 4px rgba(0, 0, 0, 0.25);
      font-size: 24px;
      line-height: 24px;
      padding: 0 45px;
      margin: 0;
      box-sizing: border-box;
      height: 51px;
      transition: 0.3s all;
      display: inline-block;
      @include _media-xl() {
        height: 46px;
        padding: 0;
        font-size: 20px;
        line-height: 46px;
      }
      @include _media-sm() {
        font-size: 18px;
        line-height: 46px;
        padding: 0 30px;
        margin: 0;
      }
      @include _media-xs() {
        font-size: 16px;
        line-height: 40px;
        height: 40px;
      }
      &:hover,&:focus,&:active {
        color: $grey30;
        background: $brand-red-h;
        outline:0;
        cursor:pointer;
        -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
        -moz-box-shadow:    0px 4px 6px rgba(0, 0, 0, 0.25);
        box-shadow:         0px 4px 6px rgba(0, 0, 0, 0.25);
      }
      margin: 0 0 -2px 30px;
      width: 164px;
      padding: 0;
      font-size: $base;
      line-height: $base*1.2;

      @include _media-lg() {
        margin-bottom: 0;
        margin-left: 10px;
      }
      @include _media-md() {
        width: 100%;
        margin-left: 0;
        margin-bottom: 0px;

      }
    }
  }
}
//Гарантия ТАБ 4
.trade {
  .services_container {

  }
  .services_title {
    font-weight: 500;
    text-shadow: 0 1px 3px #fff;
    @include _media-xxs() {
        line-height: 1.3;
    }

  }
  .services_content {
    padding-bottom: 20px;
  }
  .services_callback {
    height: auto;
    background-color: $white;
    border-radius: 25px;
    padding: 30px 60px;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    @include _media-md() {
      padding: 15px 15px;
    }
    @include _media-xs() {
      padding: 15px 60px;
    }
    @include _media-xxxs() {
      padding: 15px 20px;
    }
    .row {
      height: 100%;
      padding-top: 10px;
      @include _media-xs() {
        padding-top: 0px;
      }
    }
  }
  .trade_services  {
    height: auto;
    //display: flex;
    //flex-direction: column;
    //justify-content: space-between;
    //align-items: center;
    position: relative;
    @include _media-sm() {
      padding-top: 10px;
    }
    @include _media-xs() {
    &:first-child {
      .trade_services_content {
        position: relative;
        &:before {
          height: 1px;
          width: 50%;
          background: $brand-red;
          position: absolute;
          content: ' ';
          bottom: -4px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
    }
  }
  .vertical_line {
    content: ' ';
    height: 90%;
    width: 2px;
    background-color: $black;
    margin: 0 auto;
    @include _media-md() {
      display: none;
    }
  }
  .trade_services_content {
    @include _media-md() {
      p {
        margin: 0 auto;
      }
    }

  }
  .trade_services_title {
    font-weight: 500;
    text-align: center;
    padding-bottom: 20px;
    @include _media-md() {
      padding-bottom: 10px;
    }
    @include _media-xs() {
      padding-bottom: 5px;

    }


  }
  .trade_services_content {
    font-size: $base_small_md;
    @include _media-xs() {
      text-align: center;
    }
    /*height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;*/
    p {
      margin-top: 0;
      font-weight: 500;
    }
   /* @include _media-md() {
      height: 95px;
    }
    */
  }
  .trade_button {
    display: block;
    margin: 10px auto auto auto;
    width: 170px;
    height: 42px;
    font-size: 16px;
    line-height: 42px;
    border-radius: 25px;
    background-color: $brand-red;
    color: white;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    &:hover, &:focus {
      background: $brand-red-h;
    }
  }
}
//Обслуживание ТАБ 5
.condition_care {
  .services_container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include _media-xxs() {
      justify-content: space-around;

    }
  }
  .services_content {
    height: 220px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-shadow: 0 1px 2px #fff;
    @include _media-xl() {
      height: 200px;
    }
    @include _media-md() {
      height: auto;
      padding: 10px 0;
    }
    @include _media-sm() {
      height: auto;
      p {
        font-size: $base-xs;
        margin: 5px 0;
      }
    }
  }
  .services_content_title {
    text-align: center;
    font-weight: 600;
    padding: 5px 0;
    @include _media-sm() {
      filter: invert(1);
      text-shadow: 0 0px 5px #fff;
    }
  }
  .services_callback {
    background-color: $white;
    border-radius: 25px;
    padding: 30px 5%;
    height: 220px;
    width: 100%;
    @include _media-xl() {
      height: 200px;
    }
    @include _media-md() {
      height: auto;
    }
    @include _media-sm() {
      padding: 5px 15px;
      height: auto;
      padding: 0 15px 10px 15px;
      p {
        margin-bottom: 0;
      }
    }
  }
  .services_callback_title {
    text-align: center;
    padding-bottom: 30px;
    b {
      display: inline-block;
    }
    @include _media-md() {
      padding-bottom: 10px;
    }
  }
  .services_callback_form {
    input,button { display: inline-block;font-weight: 400;
      @include _media-md() {
        display: block;
      }
    }
    input {
      width: 240px;
      background-color: $white;
      margin: 0 20px;
      @include _media-lg() {
        width: 200px;
      }
      @include _media-md() {
        width: 150px;
        margin: 0 10px;
      }
      @include _media-md() {
        width: 100%;
        margin-left: 0;
        margin-bottom: 10px;

      }
    }
    .wpcf7-submit {
      color: $white;
      background: $brand-red;
      border-width: 0px;
      -webkit-border-radius: 50px; -moz-border-radius: 50px; border-radius: 50px;
      -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      -moz-box-shadow:    0px 4px 4px rgba(0, 0, 0, 0.25);
      box-shadow:         0px 4px 4px rgba(0, 0, 0, 0.25);
      box-sizing: border-box;
      height: 51px;
      transition: 0.3s all;
      display: inline-block;
      @include _media-xl() {
        height: 46px;
        padding: 0;
        font-size: 20px;
        line-height: 46px;
      }
      @include _media-sm() {
        font-size: 18px;
        line-height: 46px;
        padding: 0 30px;
        margin: 0;
      }
      @include _media-xs() {
        font-size: 16px;
        line-height: 40px;
        height: 40px;
      }
      &:hover,&:focus,&:active {
        color: $grey30;
        background: $brand-red-h;
        outline:0;
        cursor:pointer;
        -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
        -moz-box-shadow:    0px 4px 6px rgba(0, 0, 0, 0.25);
        box-shadow:         0px 4px 6px rgba(0, 0, 0, 0.25);
      }
      margin: 0 0 -2px 30px;
      width: 164px;
      padding: 0;
      font-size: $base;
      line-height: $base*1.2;
      @include _media-lg() {
        margin-bottom: 0;
        margin-left: 10px;
      }
      @include _media-md() {
        width: 100%;
        margin-left: 0;
        margin-bottom: 0px;

      }
    }
  }
}
.services_callback_form p {
  margin: 0;
  padding: 0;
}